.wizard-root {
    padding: 0 2rem;
}

.wizard-root .multi-option-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 4px;
    overflow: hidden;
    gap: 2px;
    background-color: var(--darkest);
    justify-content: space-between;
    width: fit-content;
}

.wizard-root .option {
    padding: 1rem;
    background-color: rgb(193, 193, 193);
    text-transform: uppercase;
    cursor: pointer;
}

.wizard-root .option:hover {
    /* filter: brightness(1.2); */
}

.wizard-root .option.active {
    background-color: var(--aqua);
}

.create-account-headers {
    display: grid;
    align-items: center;
    color: var(--darkest);
    font-size: 18pt;
}

.wizard-root {
    display: flex;
    flex-direction: column;
}

form {
    display: grid;
    justify-content: center;
}

.text-field {
    height: 18pt;
    padding: 10px;
    width: 275px;
}

.enter-height {
    padding: 10px;
    width: 275px;
}

/* not being referenced correctly */
.age-form {
    font-size: 14pt;
}

input.age-input {
    height: 27pt;
    width: 75px;
    font-size: 14pt;
}

.multi-option-group {
    margin: auto;
    margin-top: 16pt;
}


select.enter-height {
    height: 33pt;
    font-size: 14pt;
}

input {
    height: 27pt;
    width: 75px;
    font-size: 14pt;
}

div.line-chart-container {
    border: solid 1px var(--darkest);
    box-shadow: 0 5.5px 12px 0 var(--darkest);

    border-radius: 5px;
    padding: 3.5em;
}