.button-secondary {
    margin-top: 1rem;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #EBECF0;
}

.exercise-history {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.exercise-history .break {
    width: 100vw;
}