h1 {
    user-select: none;
}

h3 {
    user-select: none;
}

.calculate {
    color: var(--darkest);
    /* border: solid #595E6E; */
    background-color: #a6abbd37;
    /* box-shadow: 0 1px 4px 0 #140e0795; */
    padding: 0.5rem;
}

.save-button {
    /* border: solid rgb(192, 190, 190); */
    box-shadow: 0 1px 4px 0 #140e0795;
    background-color: #a6abbd37;

}

.save-button:active {
    transform: translateY(1px)
}