h1 {
    user-select: none;
}

h3 {
    user-select: none;
}


.calculate {
    color: var(--darkest);
    /* border: solid #595E6E; */
    background-color: var(--aqua);
    /* box-shadow: 0 1px 4px 0 #140e0795; */
    padding: 0.5rem;
    height: 30pt;
    display: flex;
    align-items: center;
    justify-content: center;


}

.save-button {
    /* border: solid rgb(192, 190, 190); */
    box-shadow: 0 1px 4px 0 #140e0795;
    background-color: #a6abbd37;
}