.history-type-card {
    color: #313131;
    font-weight: bold;
    font-size: 10pt;
    width: 200px;

    padding: 1rem;
    background-color: #A6ABBD;
    border-radius: 5px;
}

.history-type-card .selected {
    background-color: bisque;
}