.login-form {
    width: fit-content;
    min-width: 50%;

    margin-left: auto;
    margin-right: auto;
    width: 100px;

    color: var(--darkest);
    font-size: 18pt;
    user-select: none;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: #7f818a;

    box-shadow: 0 8px 32px 0 #2c1b087f;
    border-radius: 10px;
    padding: 1.25rem 2rem;

    width: fit-content;
    margin: 0 auto;

}


.login-form h4 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 22pt;
}

.login-form button.login {
    width: 100%;
}

.login-form .password-input-container {
    position: relative;
}

.eye {
    position: absolute;
    bottom: 0.7rem;
    right: 0.5rem;
    font-size: 14px;

}

input {
    width: 50%;
    font-size: 14pt;
}

label {
    font-size: 18px;
}

.signin-textbox,
.text-box {
    width: 220pt;
}