.login-form {
    width: fit-content;
    min-width: 50%;

    margin-left: auto;
    margin-right: auto;
    width: 100px;

    color: var(--darkest);
    font-size: 18pt;
    user-select: none;

    /* not sure if we want background color behind input form?? */
    /* background-color: #A6ABBD;
    border-radius: 8px; */


    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* body {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
} */