body {
    background-color: #EBECF0;
}

.progress-page-root {
    margin-top: 3rem;
}

.add-pr-button {
    background-color: var(--aqua);
    color: var(--darkest);
}

.add-pr-button:hover {
    background-color: var(--darkest);
    color: var(--lightest);
}