/* app color scheme
  #A6ABBD (NOT USED YET)
  #FBEAD0 (NOT USED YET)
  #EBECF0 -- 
  #C2B299 -- used on hoverables for nav links
  #2c1b087f -- used for box shadows
*/
:root {
  /* main background color and nav links */
  --lightest: #EBECF0;

  --dark: #8e8e8e;

  /* used for text and nav bar */
  --darkest: #313131;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles all buttons on whole app */
button {
  border: none;
  font: inherit;
  font-size: 12pt;
  font-weight: 600;
  font-family: "LeagueGothic", "Helvetica Neue", "Helvetica", "Arial";

  white-space: nowrap;

  background-color: #EBECF0;
  width: fit-content;
  padding: 0.5rem 1rem;

  cursor: pointer;
}

/* styles all hoverable buttons on app */
button:hover {
  background-color: #00c6cf;
  color: var(--darkest);
}

/* styles a secondary styling for butons on app */
button.primary {
  background-color: var(--darkest);
  color: white;
}

/* sytles all other buttons other than main nav login button */
button.primary:hover {
  background-color: #00c6cf;
  color: var(--darkest);
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 14pt;
  font-weight: 500;
}

.label-input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin: auto;
}

.label-input-group>* {
  display: block;
}