/* app color scheme
#EBECF0
#595E6E
#A6ABBD
#FBEAD0
#C2B299
#313131 -- use for text and nav bar
*/

nav {
    font-size: 18pt;
    font-family: "LeagueGothic", "Helvetica Neue", "Helvetica", "Arial";

    background-color: #313131;
    color: white;
    box-shadow: 0 5.5px 12px 0 rgba(44, 27, 8, 0.499);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(3.5px);

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

nav .left {
    display: flex;
    gap: 1rem;
    font-size: 0.60em;
    margin-left: 7px;
}

nav .right {
    margin-right: 7px;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: unset;
}

/* mouse over link */
a:hover {
    color: #C2B299;
}

a:active {
    color: white;
    /* transform: translateY(4px); */
}

button.login {
    background-color: white;
    margin-bottom: 7px;
    border-radius: 1em;
}