/* app color scheme
#A6ABBD (NOT USED YET)
#FBEAD0 (NOT USED YET)
#EBECF0 -- main background color and nav links
#C2B299 -- used on hoverables for nav links
#313131 -- used for text and nav bar
#8e8e8e -- used for background color of modal
#2c1b087f -- used for box shadows
*/

nav {
    font-size: 24pt;
    font-family: "LeagueGothic", "Helvetica Neue", "Helvetica", "Arial";

    background-color: #313131;
    color: #EBECF0;
    box-shadow: 0 5.5px 12px 0 #2c1b087f;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(3.5px);

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0;

    padding: 7px;

    user-select: none;
}

nav .left {
    display: flex;
    gap: 1rem;
    font-size: 20px;
    color: #EBECF0;
    /* todo */
    /* user-select: none; */
}

nav .right {
    color: #313131;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav button {
    display: block;
}

/* unvisited link */
nav .link {
    color: #EBECF0;
    text-decoration: none;
}

/* visited link */
nav .link:visited {
    color: unset;
}

nav .link:hover {
    color: #00c6cf;
}

nav .right .link {
    color: #C2B299;
}

nav .link:active {
    color: #EBECF0;
}