main {
    color: var(--darkest);
    font-size: 18pt;

    /* display: flex;
    flex-direction: column; */
}

.history-page-root {
    margin-top: 2.5rem;
}

.history-page-root .navigate {
    cursor: pointer;
}

.history-page-root .navigate:hover {
    text-decoration: underline;
}